@import "styles/footer.css";

body{
  min-height: 100vh; /* make the minimum height of the body 100% of the whole screen */
}


.hero-section{
    height: 30em;
}
.bg-image{
    background: url("images/real-estate-pexels-splash-home.jpeg");
     background-repeat: no-repeat, repeat;
     background-size: cover;
     width:100%;
    
 }



 .links{
  list-style-type: none; /* removes bullets */
  margin: 0; /* removes margins */
  padding: 0; /* removes padding */
  
 }
 
 .search-icon{
  background: url(images/icon.png) no-repeat right center;
}

