.transparent {
    background-color: rgba(0, 0, 0, 0);
    
 }


.hero-section{
    height: 30em;
}
.bg-image{
    background: url("images/real-estate-pexels-splash-home.jpeg");
     background-repeat: no-repeat, repeat;
     background-size: cover;
     width:100%;
    
 }

 .search-icon{
    background: url(images/icon.png) no-repeat right center;
 }

 .links{
  list-style-type: none; /* removes bullets */
  margin: 0; /* removes margins */
  padding: 0; /* removes padding */
 }
 
 .copyright{
   height: 3em;
 }


.socialMediaIcons{
  
}

.lni-facebook-filled{
  background-color: #3b5998;
  color: white;
}
.lni-facebook-filled:hover {
  opacity: 0.5;
}

.lni-twitter-filled{
  background-color: #00acee ;
  color: white;
}
.lni-twitter-filled:hover {
  opacity: 0.5;
}
.lni-instagram-filled{
  background-color:#458eff;
  color:  white;
}
.lni-instagram-filled:hover {
  opacity: 0.5;
}
.lni-linkedin-original{
  background-color:   #0e76a8;
  color:   white;
}
.lni-linkedin-original:hover {
  opacity: 0.5;
}



/* write the steps for creating social media icons