@import "styles/header.css";
@import "styles/footer.css";



.hero-section{
    height: 30em;
}
.bg-image{
    background: url("images/real-estate-pexels-splash-home.jpeg");
     background-repeat: no-repeat, repeat;
     background-size: cover;
     width:100%;
    
 }



 
 .search-icon{
  background: url(images/icon.png) no-repeat right center;
}

