@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.our-agents h1{
  font-family: 'Roboto', sans-serif;
}

.our-agents p{
  font-family: 'Open Sans', sans-serif;
}

.socialMediaIcons{
  color: #555;
}

