
/* Sticky Footer Styling */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
h5{
  font-family: 'Montserrat', sans-serif;
}




body{
    min-height: 100vh; /* make the minimum height of the body 100% of the whole screen */
  }

 
.sticky-footer{
  position: sticky; /* positions object to stay in place regardless of scrolling */
  top: 100%; /* Threshold so that 100% of the view port must be between the top of the class before it becomes sticky */
}


footer a{
color: inherit;
font-family: 'Open Sans', sans-serif;
}

footer a:hover{
color: white; 
}  

.lni-facebook-filled:hover {
  background-color: #3b5998;
  color: white;
}



.lni-twitter-filled:hover {
  background-color: #00acee ;
  color: white;
}

.lni-instagram-filled:hover {
  background-color:#458eff;
  color:  white;
}

.lni-linkedin-original:hover {
  background-color:   #0e76a8;
  color:   white;
}

.rounded-pill{
  outline: none;
}

.pt-6{
  padding-top: 3.75em;
}

.pb-6{
  padding-bottom:3.75em;
}