
/* Sticky Footer Styling */
 
.sticky-footer{
  position: sticky; /* positions object to stay in place regardless of scrolling */
  top: 100%; /* Threshold so that 100% of the view port must be between the top of the class before it becomes sticky */
}

footer a{
color: inherit;
}

footer a:hover{
color: white; 
}

.rounded-pill{
  outline:none;
}

.lni-facebook-filled:hover {
  background-color: #3b5998;
  color: white;
}



.lni-twitter-filled:hover {
  background-color: #00acee ;
  color: white;
}

.lni-instagram-filled:hover {
  background-color:#458eff;
  color:  white;
}

.lni-linkedin-original:hover {
  background-color:   #0e76a8;
  color:   white;
}


