

.hero-section{
  height: 30em;

}

.bg-image{
  background: url("../images/hero_image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size:cover;
  height: 40em;
  padding:0;
}
.border-form{
  border:3px solid white;
}
.overlay{
  background: rgba(0, 0, 0, 0.4);
  

}

.searchbox{
  font-weight: 400;
}
.searchbox::placeholder{
  color: white;
  
}

#test option {
  background-color: transparent
  }