

.hero-section{
  height: 40em;
}

.bg-image{
  background: url("../images/hero_image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size:cover;
  height: 40em;
  padding:0;
}

.overlay{
  background: rgba(0, 0, 0, 0.4);

}


.form-control{
  background: transparent;
}

.placeholder-search::placeholder{
  color: white;
  
}
