

.hero-section{
  height: 30em;

}

.bg-image{
  background: url("../images/hero_image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size:cover;
  height: 40em;
  padding:0;
}
.border-form{
  border:3px solid white;
}
.overlay{
  background: rgba(0, 0, 0, 0.4);
  

}

.searchbox{
  font-weight: 400;
}
.searchbox::placeholder{
  color: white;
  
}


.dropdown-menu{
  background: transparent;
  border: 1px solid white;
  padding-top:0px;
  padding-bottom:0px;
}


.dropdown-menu a{
  color: #FFFFFF ;

}

.dropdown-menu a:hover{
  background:white;
}

