@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap');

.properties{
  font-family: 'Maven Pro', sans-serif;
}

.properties h5{
  color:#343a40;
}
.properties h2{
  color: #34495e;
  font-size: 2rem;
  font-weight: 500;
}

.properties p{
  font-size: 1rem;
  color: rgb(170, 170, 170);
}


@media (min-width: 0px) {  
  .property-card {
    padding-top:50px;
    padding-bottom:50px;
  }
}
@media (min-width: 768px) {  
  .property-card  {
    padding-top:60px;
    padding-bottom:60px;
  }
}
