@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Poppins:wght@600&display=swap');

#reviews-title h2{
  font-family: 'Lato', sans-serif;
  font-weight: 600;
}

#reviews-title small{
  font-family: 'Poppins', sans-serif;
  color:#666;
}
