@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Poppins:wght@600&display=swap');


#reviews-title h2{
  font-family:  'Poppins', sans-serif;
  font-weight: 600;
}

#reviews-title small{
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  color:#666;
}

.reviews{
  padding-top:80px;
}

.reviews-image{
  width:86px;
  height:86px; 
  border: 8px solid #E1E1E1;
}

